In [2]:
pwd

'/Users/yamadaikuya/pythonista/toto'

In [1]:
###LOGISTIC REDRESSION　の練習台
import pandas as pd
import numpy as np
from pandas import DataFrame
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
%matplotlib inline
# ファイルを読み込む
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [2]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
#利用しない変数は削除します
train_df = train_df.drop(['Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1)
test_df = test_df.drop(['Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1)

In [7]:
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age
0            1         0       3    male  22.0
1            2         1       1  female  38.0
2            3         1       3  female  26.0
3            4         1       1  female  35.0
4            5         0       3    male  35.0

In [8]:
test_df.head()

   PassengerId  Pclass     Sex   Age
0          892       3    male  34.5
1          893       3  female  47.0
2          894       2    male  62.0
3          895       3    male  27.0
4          896       3  female  22.0

In [5]:
#年齢の欠損値を男女の平均年齢で補間
age_train_mean = train_df.groupby('Sex').Age.mean()
 
def fage(x):
    if x.Sex == 'male':
        return round(age_train_mean['male'])
    if x.Sex == 'female':
        return round(age_train_mean['female'])
 
train_df.Age.fillna(train_df[train_df.Age.isnull()].apply(fage,axis=1),inplace=True)

age_test_mean = test_df.groupby('Sex').Age.mean()
 
def fage(x):
    if x.Sex == 'male':
        return round(age_test_mean['male'])
    if x.Sex == 'female':
        return round(age_test_mean['female'])
 
test_df.Age.fillna(test_df[test_df.Age.isnull()].apply(fage,axis=1),inplace=True)

In [6]:
#クロス集計
sex_ct = pd.crosstab(train_df['Sex'], train_df['Survived'])
sex_ct

Survived    0    1
Sex
female     81  233
male      468  109

In [7]:
#Femaleカラムを追加し、Sex要素のmale/femaleを1/0に変換して、要素として追加する
train_df['Female'] = train_df['Sex'].map( {'male': 0, 'female': 1} ).astype(int)
test_df['Female'] = test_df['Sex'].map( {'male': 0, 'female': 1} ).astype(int)
 
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  Female
0            1         0       3    male  22.0       0
1            2         1       1  female  38.0       1
2            3         1       3  female  26.0       1
3            4         1       1  female  35.0       1
4            5         0       3    male  35.0       0

In [8]:
#クロス集計
pclass_ct = pd.crosstab(train_df['Pclass'], train_df['Survived'])
pclass_ct

Survived    0    1
Pclass
1          80  136
2          97   87
3         372  119

In [9]:
#Pclassをダミー変数で分ける
pclass_train_df  = pd.get_dummies(train_df['Pclass'],prefix='Class')
pclass_test_df  = pd.get_dummies(test_df['Pclass'],prefix='Class')
 
pclass_train_df.head()

   Class_1  Class_2  Class_3
0        0        0        1
1        1        0        0
2        0        0        1
3        1        0        0
4        0        0        1

In [10]:
#Class_3を削除
pclass_train_df = pclass_train_df.drop(['Class_3'], axis=1)
pclass_test_df = pclass_test_df.drop(['Class_3'], axis=1)
 
#Class_1,Class_2カラムを追加
train_df = train_df.join(pclass_train_df)
test_df = test_df.join(pclass_test_df)

In [11]:
#訓練用
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  Female  Class_1  Class_2
0            1         0       3    male  22.0       0        0        0
1            2         1       1  female  38.0       1        1        0
2            3         1       3  female  26.0       1        0        0
3            4         1       1  female  35.0       1        1        0
4            5         0       3    male  35.0       0        0        0

In [12]:
#テスト用
test_df.head()

   PassengerId  Pclass     Sex   Age  Female  Class_1  Class_2
0          892       3    male  34.5       0        0        0
1          893       3  female  47.0       1        0        0
2          894       2    male  62.0       0        0        1
3          895       3    male  27.0       0        0        0
4          896       3  female  22.0       1        0        0

In [13]:
X = train_df.drop(['PassengerId','Survived','Pclass','Sex'],axis=1)
y = train_df.Survived
 
#モデルの生成
clf = LogisticRegression(solver="lbfgs")
 
#学習
clf.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
clf.predict_proba(X)

array([[0.8825431 , 0.1174569 ],
       [0.10700253, 0.89299747],
       [0.41681246, 0.58318754],
       ...,
       [0.4324001 , 0.5675999 ],
       [0.49391267, 0.50608733],
       [0.91179656, 0.08820344]])

In [15]:
#学習したモデルの精度
clf.score(X,y)

0.7991021324354658

In [16]:
#モデルに伴う生存率の予測値
predict_y = clf.predict(X)
 
#実際の値と予測値の比率
accuracy_score(y, predict_y)

0.7991021324354658

In [21]:
#変数名とその係数を格納するデータフレーム
coeff_df = DataFrame([X.columns, clf.coef_[0]]).T
coeff_df

         0          1
0      Age -0.0319035
1   Female    2.48022
2  Class_1     2.1687
3  Class_2    1.10217

In [22]:
#femaleのオッズ比
print(np.exp(2.46126))

11.719568897704196

In [23]:
test_df.head()

   PassengerId  Pclass     Sex   Age  Female  Class_1  Class_2
0          892       3    male  34.5       0        0        0
1          893       3  female  47.0       1        0        0
2          894       2    male  62.0       0        0        1
3          895       3    male  27.0       0        0        0
4          896       3  female  22.0       1        0        0

In [24]:
#テストデータから生存者を予測
test_predict = clf.predict(test_df.drop(['PassengerId','Pclass','Sex'],axis=1))
print(test_predict)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 1 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [25]:
test_probability = clf.predict_proba(test_df.drop(['PassengerId','Pclass','Sex'],axis=1))
print(test_probability)

[[0.91800388 0.08199612]
 [0.58275681 0.41724319]
 [0.89941135 0.10058865]
 [0.89809671 0.10190329]
 [0.38615909 0.61384091]
 [0.85339846 0.14660154]
 [0.44812274 0.55187726]
 [0.73926958 0.26073042]
 [0.35638243 0.64361757]
 [0.87919538 0.12080462]
 [0.90652834 0.09347166]
 [0.64878872 0.35121128]
 [0.06912018 0.93087982]
 [0.90226112 0.09773888]
 [0.13769121 0.86230879]
 [0.18214919 0.81785081]
 [0.79072598 0.20927402]
 [0.87919538 0.12080462]
 [0.42458753 0.57541247]
 [0.56716502 0.43283498]
 [0.71112424 0.28887576]
 [0.83229645 0.16770355]
 [0.08494664 0.91505336]
 [0.45416208 0.54583792]
 [0.14152315 0.85847685]
 [0.94834021 0.05165979]
 [0.06709543 0.93290457]
 [0.8841866  0.1158134 ]
 [0.61163776 0.38836224]
 [0.90652834 0.09347166]
 [0.85910294 0.14089706]
 [0.7267844  0.2732156 ]
 [0.47189265 0.52810735]
 [0.44812274 0.55187726]
 [0.52579293 0.47420707]
 [0.87046472 0.12953528]
 [0.44812274 0.55187726]
 [0.37862468 0.62137532]
 [0.89210705 0.10789295]
 [0.90652834 0.09347166]
 [0.92818218 0.07181782]
 [0.52579293 0.47420707]
 [0.93232107 0.06767893]
 [0.21241441 0.78758559]
 [0.13028889 0.86971111]
 [0.89210705 0.10789295]
 [0.64148508 0.35851492]
 [0.90652834 0.09347166]
 [0.19468438 0.80531562]
 [0.4957907  0.5042093 ]
 [0.47797489 0.52202511]
 [0.74537188 0.25462812]
 [0.16390328 0.83609672]
 [0.08011644 0.91988356]
 [0.76310698 0.23689302]
 [0.83670243 0.16329757]
 [0.91919663 0.08080337]
 [0.89210705 0.10789295]
 [0.90652834 0.09347166]
 [0.1010567  0.8989433 ]
 [0.86497244 0.13502756]
 [0.77444743 0.22555257]
 [0.86865541 0.13134459]
 [0.38615909 0.61384091]
 [0.39195644 0.60804356]
 [0.21241441 0.78758559]
 [0.35638243 0.64361757]
 [0.65602335 0.34397665]
 [0.53374036 0.46625964]
 [0.19468438 0.80531562]
 [0.40138937 0.59861063]
 [0.87919538 0.12080462]
 [0.44024643 0.55975357]
 [0.5138485  0.4861515 ]
 [0.09819512 0.90180488]
 [0.54562823 0.45437177]
 [0.90652834 0.09347166]
 [0.17088444 0.82911556]
 [0.76310698 0.23689302]
 [0.40138937 0.59861063]
 [0.81850931 0.18149069]
 [0.78307763 0.21692237]
 [0.6702751  0.3297249 ]
 [0.90652834 0.09347166]
 [0.76310698 0.23689302]
 [0.90652834 0.09347166]
 [0.42458753 0.57541247]
 [0.35638243 0.64361757]
 [0.44812274 0.55187726]
 [0.56868599 0.43131401]
 [0.38615909 0.61384091]
 [0.90652834 0.09347166]
 [0.07779649 0.92220351]
 [0.90652834 0.09347166]
 [0.4859402  0.5140598 ]
 [0.89210705 0.10789295]
 [0.28712286 0.71287714]
 [0.90378972 0.09621028]
 [0.37114839 0.62885161]
 [0.91432887 0.08567113]
 [0.12322766 0.87677234]
 [0.74537188 0.25462812]
 [0.90652834 0.09347166]
 [0.89513963 0.10486037]
 [0.34188455 0.65811545]
 [0.90097963 0.09902037]
 [0.87919538 0.12080462]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]
 [0.69059437 0.30940563]
 [0.82064564 0.17935436]
 [0.44812274 0.55187726]
 [0.1010567  0.8989433 ]
 [0.36004967 0.63995033]
 [0.21012964 0.78987036]
 [0.86865541 0.13134459]
 [0.90652834 0.09347166]
 [0.24352322 0.75647678]
 [0.57314254 0.42685746]
 [0.2071261  0.7928739 ]
 [0.13185045 0.86814955]
 [0.90652834 0.09347166]
 [0.09819512 0.90180488]
 [0.90097963 0.09902037]
 [0.90652834 0.09347166]
 [0.3490986  0.6509014 ]
 [0.8825431  0.1174569 ]
 [0.44812274 0.55187726]
 [0.82529346 0.17470654]
 [0.88899764 0.11100236]
 [0.91179656 0.08820344]
 [0.69784218 0.30215782]
 [0.44812274 0.55187726]
 [0.90652834 0.09347166]
 [0.93623782 0.06376218]
 [0.88899764 0.11100236]
 [0.89662753 0.10337247]
 [0.73926958 0.26073042]
 [0.39374842 0.60625158]
 [0.93028003 0.06971997]
 [0.30020367 0.69979633]
 [0.09268789 0.90731211]
 [0.74880919 0.25119081]
 [0.75137939 0.24862061]
 [0.61918849 0.38081151]
 [0.90919684 0.09080316]
 [0.52579293 0.47420707]
 [0.8825431  0.1174569 ]
 [0.52579293 0.47420707]
 [0.76310698 0.23689302]
 [0.06912018 0.93087982]
 [0.90652834 0.09347166]
 [0.96249376 0.03750624]
 [0.4957907  0.5042093 ]
 [0.84936186 0.15063814]
 [0.88899764 0.11100236]
 [0.08249937 0.91750063]
 [0.39374842 0.60625158]
 [0.61918849 0.38081151]
 [0.41681246 0.58318754]
 [0.44812274 0.55187726]
 [0.82320056 0.17679944]
 [0.19184798 0.80815202]
 [0.90652834 0.09347166]
 [0.82064564 0.17935436]
 [0.41681246 0.58318754]
 [0.66318632 0.33681368]
 [0.86865541 0.13134459]
 [0.08494664 0.91505336]
 [0.38615909 0.61384091]
 [0.90652834 0.09347166]
 [0.89809671 0.10190329]
 [0.88581009 0.11418991]
 [0.90652834 0.09347166]
 [0.93028003 0.06971997]
 [0.14319719 0.85680281]
 [0.16390328 0.83609672]
 [0.70452654 0.29547346]
 [0.24619459 0.75380541]
 [0.21547379 0.78452621]
 [0.76310698 0.23689302]
 [0.5809289  0.4190711 ]
 [0.05953551 0.94046449]
 [0.90652834 0.09347166]
 [0.07779649 0.92220351]
 [0.81590176 0.18409824]
 [0.16832231 0.83167769]
 [0.86497244 0.13502756]
 [0.44812274 0.55187726]
 [0.81590176 0.18409824]
 [0.78539767 0.21460233]
 [0.52579293 0.47420707]
 [0.84313606 0.15686394]
 [0.89648802 0.10351198]
 [0.61488966 0.38511034]
 [0.91432887 0.08567113]
 [0.34019616 0.65980384]
 [0.35638243 0.64361757]
 [0.72040374 0.27959626]
 [0.44812274 0.55187726]
 [0.44812274 0.55187726]
 [0.79007668 0.20992332]
 [0.65602335 0.34397665]
 [0.11791654 0.88208346]
 [0.73307341 0.26692659]
 [0.52579293 0.47420707]
 [0.48781714 0.51218286]
 [0.7267844  0.2732156 ]
 [0.09268789 0.90731211]
 [0.89210705 0.10789295]
 [0.91179656 0.08820344]
 [0.90652834 0.09347166]
 [0.68027683 0.31972317]
 [0.41257551 0.58742449]
 [0.51174018 0.48825982]
 [0.61918849 0.38081151]
 [0.44812274 0.55187726]
 [0.72405333 0.27594667]
 [0.14945405 0.85054595]
 [0.90652834 0.09347166]
 [0.21241441 0.78758559]
 [0.87919538 0.12080462]
 [0.17283586 0.82716414]
 [0.87919538 0.12080462]
 [0.16203296 0.83796704]
 [0.44812274 0.55187726]
 [0.88581009 0.11418991]
 [0.44812274 0.55187726]
 [0.93130757 0.06869243]
 [0.79595636 0.20404364]
 [0.65911073 0.34088927]
 [0.06512584 0.93487416]
 [0.87919538 0.12080462]
 [0.90652834 0.09347166]
 [0.59637772 0.40362228]
 [0.87576569 0.12423431]
 [0.76637992 0.23362008]
 [0.87576569 0.12423431]
 [0.15534566 0.84465434]
 [0.14152315 0.85847685]
 [0.17088444 0.82911556]
 [0.30324755 0.69675245]
 [0.64148508 0.35851492]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]
 [0.61163776 0.38836224]
 [0.17283586 0.82716414]
 [0.82529346 0.17470654]
 [0.2071261  0.7928739 ]
 [0.44812274 0.55187726]
 [0.09637338 0.90362662]
 [0.87576569 0.12423431]
 [0.50188823 0.49811177]
 [0.88899764 0.11100236]
 [0.91307106 0.08692894]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]
 [0.90097963 0.09902037]
 [0.15957801 0.84042199]
 [0.87919538 0.12080462]
 [0.92268049 0.07731951]
 [0.87919538 0.12080462]
 [0.2071261  0.7928739 ]
 [0.24352322 0.75647678]
 [0.76310698 0.23689302]
 [0.90652834 0.09347166]
 [0.52579293 0.47420707]
 [0.90652834 0.09347166]
 [0.44812274 0.55187726]
 [0.86497244 0.13502756]
 [0.64878872 0.35121128]
 [0.90652834 0.09347166]
 [0.07553821 0.92446179]
 [0.44812274 0.55187726]
 [0.90652834 0.09347166]
 [0.16390328 0.83609672]
 [0.75137939 0.24862061]
 [0.81590176 0.18409824]
 [0.76310698 0.23689302]
 [0.71393272 0.28606728]
 [0.39374842 0.60625158]
 [0.79229041 0.20770959]
 [0.44812274 0.55187726]
 [0.29354436 0.70645564]
 [0.24944845 0.75055155]
 [0.92153477 0.07846523]
 [0.90652834 0.09347166]
 [0.47797489 0.52202511]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]
 [0.52579293 0.47420707]
 [0.44812274 0.55187726]
 [0.90652834 0.09347166]
 [0.69784218 0.30215782]
 [0.92153477 0.07846523]
 [0.89513963 0.10486037]
 [0.09659587 0.90340413]
 [0.90652834 0.09347166]
 [0.52579293 0.47420707]
 [0.90378972 0.09621028]
 [0.91179656 0.08820344]
 [0.76310698 0.23689302]
 [0.8298458  0.1701542 ]
 [0.88899764 0.11100236]
 [0.44812274 0.55187726]
 [0.21547379 0.78452621]
 [0.52579293 0.47420707]
 [0.79271012 0.20728988]
 [0.71112424 0.28887576]
 [0.56716502 0.43283498]
 [0.86865541 0.13134459]
 [0.8825431  0.1174569 ]
 [0.90652834 0.09347166]
 [0.5037664  0.4962336 ]
 [0.17088444 0.82911556]
 [0.3490986  0.6509014 ]
 [0.72405333 0.27594667]
 [0.69399244 0.30600756]
 [0.89809671 0.10190329]
 [0.71393272 0.28606728]
 [0.89513963 0.10486037]
 [0.89210705 0.10789295]
 [0.73926958 0.26073042]
 [0.54957999 0.45042001]
 [0.11008945 0.88991055]
 [0.88581009 0.11418991]
 [0.13185045 0.86814955]
 [0.64878872 0.35121128]
 [0.75729131 0.24270869]
 [0.70737277 0.29262723]
 [0.32384217 0.67615783]
 [0.59637772 0.40362228]
 [0.90652834 0.09347166]
 [0.36373332 0.63626668]
 [0.89809671 0.10190329]
 [0.52579293 0.47420707]
 [0.77444743 0.22555257]
 [0.92818218 0.07181782]
 [0.73307341 0.26692659]
 [0.90652834 0.09347166]
 [0.68717558 0.31282442]
 [0.91179656 0.08820344]
 [0.90652834 0.09347166]
 [0.184875   0.815125  ]
 [0.90652834 0.09347166]
 [0.34188455 0.65811545]
 [0.73926958 0.26073042]
 [0.51174018 0.48825982]
 [0.7267844  0.2732156 ]
 [0.21780065 0.78219935]
 [0.13028889 0.86971111]
 [0.73307341 0.26692659]
 [0.68717558 0.31282442]
 [0.85519676 0.14480324]
 [0.23867829 0.76132171]
 [0.67728729 0.32271271]
 [0.18973114 0.81026886]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]
 [0.44812274 0.55187726]
 [0.85538295 0.14461705]
 [0.18214919 0.81785081]
 [0.21780065 0.78219935]
 [0.89809671 0.10190329]
 [0.07334027 0.92665973]
 [0.44812274 0.55187726]
 [0.90652834 0.09347166]
 [0.38615909 0.61384091]
 [0.13028889 0.86971111]
 [0.75729131 0.24270869]
 [0.70737277 0.29262723]
 [0.08745958 0.91254042]
 [0.6702751  0.3297249 ]
 [0.83430335 0.16569665]
 [0.1664116  0.8335884 ]
 [0.13028889 0.86971111]
 [0.38615909 0.61384091]
 [0.70737277 0.29262723]
 [0.71112424 0.28887576]
 [0.81372175 0.18627825]
 [0.90652834 0.09347166]
 [0.89513963 0.10486037]
 [0.44812274 0.55187726]
 [0.36373332 0.63626668]
 [0.76310698 0.23689302]
 [0.18214919 0.81785081]
 [0.88899764 0.11100236]
 [0.88403248 0.11596752]
 [0.87919538 0.12080462]
 [0.81850931 0.18149069]
 [0.47002075 0.52997925]
 [0.15355506 0.84644494]
 [0.84936186 0.15063814]
 [0.84711478 0.15288522]
 [0.90378972 0.09621028]
 [0.05953551 0.94046449]
 [0.88899764 0.11100236]
 [0.14152315 0.85847685]
 [0.8825431  0.1174569 ]
 [0.90919684 0.09080316]
 [0.08494664 0.91505336]
 [0.80612379 0.19387621]
 [0.06709543 0.93290457]
 [0.42275307 0.57724693]
 [0.62668201 0.37331799]
 [0.70072544 0.29927456]
 [0.72040374 0.27959626]
 [0.67728729 0.32271271]
 [0.44812274 0.55187726]
 [0.25546916 0.74453084]
 [0.44812274 0.55187726]
 [0.10399206 0.89600794]
 [0.4324001  0.5675999 ]
 [0.90652834 0.09347166]
 [0.11008945 0.88991055]
 [0.92711154 0.07288846]
 [0.90652834 0.09347166]
 [0.90652834 0.09347166]]

In [26]:
test_probability[:,0]

array([0.91800388, 0.58275681, 0.89941135, 0.89809671, 0.38615909,
       0.85339846, 0.44812274, 0.73926958, 0.35638243, 0.87919538,
       0.90652834, 0.64878872, 0.06912018, 0.90226112, 0.13769121,
       0.18214919, 0.79072598, 0.87919538, 0.42458753, 0.56716502,
       0.71112424, 0.83229645, 0.08494664, 0.45416208, 0.14152315,
       0.94834021, 0.06709543, 0.8841866 , 0.61163776, 0.90652834,
       0.85910294, 0.7267844 , 0.47189265, 0.44812274, 0.52579293,
       0.87046472, 0.44812274, 0.37862468, 0.89210705, 0.90652834,
       0.92818218, 0.52579293, 0.93232107, 0.21241441, 0.13028889,
       0.89210705, 0.64148508, 0.90652834, 0.19468438, 0.4957907 ,
       0.47797489, 0.74537188, 0.16390328, 0.08011644, 0.76310698,
       0.83670243, 0.91919663, 0.89210705, 0.90652834, 0.1010567 ,
       0.86497244, 0.77444743, 0.86865541, 0.38615909, 0.39195644,
       0.21241441, 0.35638243, 0.65602335, 0.53374036, 0.19468438,
       0.40138937, 0.87919538, 0.44024643, 0.5138485 , 0.09819512,
       0.54562823, 0.90652834, 0.17088444, 0.76310698, 0.40138937,
       0.81850931, 0.78307763, 0.6702751 , 0.90652834, 0.76310698,
       0.90652834, 0.42458753, 0.35638243, 0.44812274, 0.56868599,
       0.38615909, 0.90652834, 0.07779649, 0.90652834, 0.4859402 ,
       0.89210705, 0.28712286, 0.90378972, 0.37114839, 0.91432887,
       0.12322766, 0.74537188, 0.90652834, 0.89513963, 0.34188455,
       0.90097963, 0.87919538, 0.90652834, 0.90652834, 0.69059437,
       0.82064564, 0.44812274, 0.1010567 , 0.36004967, 0.21012964,
       0.86865541, 0.90652834, 0.24352322, 0.57314254, 0.2071261 ,
       0.13185045, 0.90652834, 0.09819512, 0.90097963, 0.90652834,
       0.3490986 , 0.8825431 , 0.44812274, 0.82529346, 0.88899764,
       0.91179656, 0.69784218, 0.44812274, 0.90652834, 0.93623782,
       0.88899764, 0.89662753, 0.73926958, 0.39374842, 0.93028003,
       0.30020367, 0.09268789, 0.74880919, 0.75137939, 0.61918849,
       0.90919684, 0.52579293, 0.8825431 , 0.52579293, 0.76310698,
       0.06912018, 0.90652834, 0.96249376, 0.4957907 , 0.84936186,
       0.88899764, 0.08249937, 0.39374842, 0.61918849, 0.41681246,
       0.44812274, 0.82320056, 0.19184798, 0.90652834, 0.82064564,
       0.41681246, 0.66318632, 0.86865541, 0.08494664, 0.38615909,
       0.90652834, 0.89809671, 0.88581009, 0.90652834, 0.93028003,
       0.14319719, 0.16390328, 0.70452654, 0.24619459, 0.21547379,
       0.76310698, 0.5809289 , 0.05953551, 0.90652834, 0.07779649,
       0.81590176, 0.16832231, 0.86497244, 0.44812274, 0.81590176,
       0.78539767, 0.52579293, 0.84313606, 0.89648802, 0.61488966,
       0.91432887, 0.34019616, 0.35638243, 0.72040374, 0.44812274,
       0.44812274, 0.79007668, 0.65602335, 0.11791654, 0.73307341,
       0.52579293, 0.48781714, 0.7267844 , 0.09268789, 0.89210705,
       0.91179656, 0.90652834, 0.68027683, 0.41257551, 0.51174018,
       0.61918849, 0.44812274, 0.72405333, 0.14945405, 0.90652834,
       0.21241441, 0.87919538, 0.17283586, 0.87919538, 0.16203296,
       0.44812274, 0.88581009, 0.44812274, 0.93130757, 0.79595636,
       0.65911073, 0.06512584, 0.87919538, 0.90652834, 0.59637772,
       0.87576569, 0.76637992, 0.87576569, 0.15534566, 0.14152315,
       0.17088444, 0.30324755, 0.64148508, 0.90652834, 0.90652834,
       0.61163776, 0.17283586, 0.82529346, 0.2071261 , 0.44812274,
       0.09637338, 0.87576569, 0.50188823, 0.88899764, 0.91307106,
       0.90652834, 0.90652834, 0.90097963, 0.15957801, 0.87919538,
       0.92268049, 0.87919538, 0.2071261 , 0.24352322, 0.76310698,
       0.90652834, 0.52579293, 0.90652834, 0.44812274, 0.86497244,
       0.64878872, 0.90652834, 0.07553821, 0.44812274, 0.90652834,
       0.16390328, 0.75137939, 0.81590176, 0.76310698, 0.71393272,
       0.39374842, 0.79229041, 0.44812274, 0.29354436, 0.24944845,
       0.92153477, 0.90652834, 0.47797489, 0.90652834, 0.90652834,
       0.52579293, 0.44812274, 0.90652834, 0.69784218, 0.92153477,
       0.89513963, 0.09659587, 0.90652834, 0.52579293, 0.90378972,
       0.91179656, 0.76310698, 0.8298458 , 0.88899764, 0.44812274,
       0.21547379, 0.52579293, 0.79271012, 0.71112424, 0.56716502,
       0.86865541, 0.8825431 , 0.90652834, 0.5037664 , 0.17088444,
       0.3490986 , 0.72405333, 0.69399244, 0.89809671, 0.71393272,
       0.89513963, 0.89210705, 0.73926958, 0.54957999, 0.11008945,
       0.88581009, 0.13185045, 0.64878872, 0.75729131, 0.70737277,
       0.32384217, 0.59637772, 0.90652834, 0.36373332, 0.89809671,
       0.52579293, 0.77444743, 0.92818218, 0.73307341, 0.90652834,
       0.68717558, 0.91179656, 0.90652834, 0.184875  , 0.90652834,
       0.34188455, 0.73926958, 0.51174018, 0.7267844 , 0.21780065,
       0.13028889, 0.73307341, 0.68717558, 0.85519676, 0.23867829,
       0.67728729, 0.18973114, 0.90652834, 0.90652834, 0.44812274,
       0.85538295, 0.18214919, 0.21780065, 0.89809671, 0.07334027,
       0.44812274, 0.90652834, 0.38615909, 0.13028889, 0.75729131,
       0.70737277, 0.08745958, 0.6702751 , 0.83430335, 0.1664116 ,
       0.13028889, 0.38615909, 0.70737277, 0.71112424, 0.81372175,
       0.90652834, 0.89513963, 0.44812274, 0.36373332, 0.76310698,
       0.18214919, 0.88899764, 0.88403248, 0.87919538, 0.81850931,
       0.47002075, 0.15355506, 0.84936186, 0.84711478, 0.90378972,
       0.05953551, 0.88899764, 0.14152315, 0.8825431 , 0.90919684,
       0.08494664, 0.80612379, 0.06709543, 0.42275307, 0.62668201,
       0.70072544, 0.72040374, 0.67728729, 0.44812274, 0.25546916,
       0.44812274, 0.10399206, 0.4324001 , 0.90652834, 0.11008945,
       0.92711154, 0.90652834, 0.90652834])

In [27]:
test_pro_pre = pd.DataFrame({"Probability":test_probability[:,1], 'prediction':test_predict})
print(test_pro_pre)

     Probability  prediction
0       0.081996           0
1       0.417243           0
2       0.100589           0
3       0.101903           0
4       0.613841           1
5       0.146602           0
6       0.551877           1
7       0.260730           0
8       0.643618           1
9       0.120805           0
10      0.093472           0
11      0.351211           0
12      0.930880           1
13      0.097739           0
14      0.862309           1
15      0.817851           1
16      0.209274           0
17      0.120805           0
18      0.575412           1
19      0.432835           0
20      0.288876           0
21      0.167704           0
22      0.915053           1
23      0.545838           1
24      0.858477           1
25      0.051660           0
26      0.932905           1
27      0.115813           0
28      0.388362           0
29      0.093472           0
..           ...         ...
388     0.120805           0
389     0.181491           0
390     0.529979           1
391     0.846445           1
392     0.150638           0
393     0.152885           0
394     0.096210           0
395     0.940464           1
396     0.111002           0
397     0.858477           1
398     0.117457           0
399     0.090803           0
400     0.915053           1
401     0.193876           0
402     0.932905           1
403     0.577247           1
404     0.373318           0
405     0.299275           0
406     0.279596           0
407     0.322713           0
408     0.551877           1
409     0.744531           1
410     0.551877           1
411     0.896008           1
412     0.567600           1
413     0.093472           0
414     0.889911           1
415     0.072888           0
416     0.093472           0
417     0.093472           0

[418 rows x 2 columns]

In [28]:
test_df = pd.read_csv('test.csv')
result_df = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived':np.array(test_predict)})
result_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1